.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}

.burger {
  width: 2rem;
  height: 0.25rem;
  /* background-color: ${({ open }) => open ? '#ccc' : '#333'}; */
  border-radius: 10px;
  background-color: aliceblue;
  transform-origin: 1px;
  transition: all 0.3s linear;
}
