.btn-container {
  display: flex;
  gap: 1em;
  justify-content: end;
  padding: 1em;
}

.hamburger-container {
  display: none;
  z-index: 10;
}

.hamburger-menu {
  position: absolute;
  top: 1em;
  right: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--background-color);
  padding: 1em 2em;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.hamburger-menu a {
  color: var(--font-color);
  font-size: 1.4em;
  text-decoration: none;
}

.hamburger-menu a:hover {
  color: var(--background-color);
}

@media (max-width: 768px) {
  .hamburger-container {
    display: flex;
    margin: 1em;
    margin-bottom: 0;
  }

  .btn-container {
    display: none;
  }
}
