/* App.css */

.background {
  padding-bottom: 3em;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

.hero {
  color: var(--font-color);
  min-height: 50%;
}

.hero h1 {
  padding-top: 1em;
  padding-bottom: 0;
  font-size: 3em;
}

.hero h2 {
  font-weight: 400;
  padding-bottom: 1em;
  font-size: 2em;
  letter-spacing: -3px;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
